---
import { Image } from "astro:assets"
---

<section class="mt-10 md:mt-28 container flex items-center gap-4 mx-auto">
  <div>
    <h1 class="text-2xl md:text-6xl md:leading-24 font-bold">
      Empowering Communities to Transform Ideas into Impactful Solutions for All
    </h1>

    <p>
      Join us in shaping the future through collaborative funding and innovative
      problem-solving.
    </p>

    <div class="flex mt-9 items-center gap-3">
      <button
        class="px-5 border bg-black hover:bg-black/80 transition-colors text-white py-3"
      >
        Get Started
      </button>
      <button
        class="px-5 bg-white hover:bg-black/20 transition-colors py-3 border"
      >
        Learn More
      </button>
    </div>
  </div>
  <div></div>
</section>

<section class="my-20">
  <Image
    class="rounded-2xl mx-auto"
    src="/images/landing-image-1.png"
    alt="Landing Image 1"
    width={1312}
    height={738}
  />
</section>
