---
import { Image } from "astro:assets"
---

<section class="mt-10 md:mt-28 container flex items-center gap-4 mx-auto">
  <div>
    <h1
      class="text-2xl md:text-6xl md:leading-24 font-bold opacity-0"
      id="hero-title"
    >
      Empowering Communities to Transform Ideas into Impactful Solutions for All
    </h1>

    <p class="opacity-0" id="hero-subtitle">
      Join us in shaping the future through collaborative funding and innovative
      problem-solving.
    </p>

    <div class="flex mt-9 items-center gap-3">
      <button
        class="px-5 rounded-lg border bg-black hover:bg-black/80 transition-all transform hover:scale-105 text-white py-3 opacity-0"
        id="start-button"
      >
        Get Started
      </button>
      <button
        class="px-5 rounded-lg bg-white text-black hover:text-white hover:bg-black/20 transition-all transform hover:scale-105 py-3 border opacity-0"
        id="learn-button"
      >
        Learn More
      </button>
    </div>
  </div>
  <div></div>
</section>

<script>
  function animate(element: HTMLElement, delay: number = 0) {
    setTimeout(() => {
      element.style.transition = "all 0.8s ease-out"
      element.style.opacity = "1"
      element.style.transform = "translateY(0)"
    }, delay)
  }

  document.addEventListener("DOMContentLoaded", () => {
    const title = document.getElementById("hero-title")
    const subtitle = document.getElementById("hero-subtitle")
    const startButton = document.getElementById("start-button")
    const learnButton = document.getElementById("learn-button")

    if (title) {
      title.style.transform = "translateY(20px)"
      animate(title, 100)
    }

    if (subtitle) {
      subtitle.style.transform = "translateY(20px)"
      animate(subtitle, 300)
    }

    if (startButton) {
      startButton.style.transform = "translateY(20px)"
      animate(startButton, 500)
    }

    if (learnButton) {
      learnButton.style.transform = "translateY(20px)"
      animate(learnButton, 700)
    }
  })
</script>
