---
import { Image } from "astro:assets"
---

<section
  class="my-20 flex-wrap md:flex-nowrap container mx-auto flex items-center gap-20"
>
  <Image
    src="/images/landing-image-2.png"
    alt="landing image 2"
    width={616}
    height={640}
  />

  <div>
    <h2 class="text-4xl font-bold">
      Empower Your Ideas: Propose, Fund, and Earn with Updraft
    </h2>
    <p class="mt-6 text-lg">
      With Updraft, anyone can propose innovative ideas for the public good.
      Fund these ideas and earn rewards as an early supporter, making a real
      impact in your community.
    </p>

    <div class="mt-8 flex items-center gap-6">
      <div>
        <h5 class="text-xl font-bold">Propose Ideas</h5>
        <p class="mt-4">
          Share your vision and gather support from like-minded individuals.
        </p>
      </div>
      <div>
        <h5 class="text-xl font-bold">Fund Projects</h5>
        <p class="mt-4">
          Contribute to projects that resonate with you and help bring them to
          life.
        </p>
      </div>
    </div>
  </div>
</section>
