<section class="py-20 bg-gradient-to-r from-gray-700 to-gray-800">
  <div class="container text-white mx-auto">
    <h1 class="text-5xl font-bold">Join Us in Creating Change</h1>
    <p class="mt-6">
      Be part of a community that funds and supports innovative ideas for the
      public good.
    </p>

    <div class="mt-8 flex items-center gap-4">
      <button
        class="px-5 bg-white text-black hover:bg-white/20 transition-colors py-2 border"
      >
        Get Started
      </button>
      <button
        class="px-5 border hover:bg-black/80 transition-colors text-white py-2"
      >
        Learn More
      </button>
    </div>
  </div>
</section>
